.jumbotron {
    padding-top: 3rem;
    background-color: #ffffff;
  }
  
  #projects {
    background-color: #e2edff;
  }
  section {
    padding-top: 6rem;
  }

  .carousel-item img {
    border-radius: 30px;
}
  